openapi: 3.1.0
info:
  title: Nextdoor Developer Advertising Creatives API
  description: 'Nextdoor''s developer platform exposes APIs for advertising

    (campaign and ad management, conversion tracking), content

    sharing and publishing (posts, events, FSF posts), and content

    discovery (search and trending). Endpoints below are derived

    from the public reference listing surfaced at developer.nextdoor.com.

    '
  version: 1.0.0
servers:
- url: https://developer.nextdoor.com
  description: Nextdoor Developer API base
security:
- oauth2: []
tags:
- name: Creatives
paths:
  /v1/creative/create:
    post:
      summary: Create a creative asset
      operationId: createCreative
      tags:
      - Creatives
      responses:
        '200':
          description: Creative created
  /v1/media/video/upload:
    post:
      summary: Upload a video media asset
      operationId: uploadVideo
      tags:
      - Creatives
      responses:
        '200':
          description: Upload accepted
  /v1/media/logo/upload:
    post:
      summary: Upload a logo media asset
      operationId: uploadLogo
      tags:
      - Creatives
      responses:
        '200':
          description: Upload accepted
  /v1/media/canvas/upload:
    post:
      summary: Upload a canvas media asset
      operationId: uploadCanvas
      tags:
      - Creatives
      responses:
        '200':
          description: Upload accepted
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'Nextdoor uses OAuth-based access tokens to authorize API

        requests. Refer to developer.nextdoor.com for token issuance

        and required scopes.

        '
      flows:
        authorizationCode:
          authorizationUrl: https://auth.nextdoor.com/v3/authorize
          tokenUrl: https://auth.nextdoor.com/v3/token
          scopes: {}
