openapi: 3.1.0
info:
  title: Nextdoor Developer Advertising Posts API
  description: 'Nextdoor''s developer platform exposes APIs for advertising

    (campaign and ad management, conversion tracking), content

    sharing and publishing (posts, events, FSF posts), and content

    discovery (search and trending). Endpoints below are derived

    from the public reference listing surfaced at developer.nextdoor.com.

    '
  version: 1.0.0
servers:
- url: https://developer.nextdoor.com
  description: Nextdoor Developer API base
security:
- oauth2: []
tags:
- name: Posts
paths:
  /v1/create-post:
    post:
      summary: Publish a post to Nextdoor
      operationId: createPost
      tags:
      - Posts
      responses:
        '200':
          description: Post created
  /v1/create-event-post:
    post:
      summary: Publish an event post
      operationId: createEventPost
      tags:
      - Posts
      responses:
        '200':
          description: Event post created
  /v1/create-fsf-post:
    post:
      summary: Publish a For Sale and Free (FSF) post
      operationId: createFsfPost
      tags:
      - Posts
      responses:
        '200':
          description: FSF post created
  /v1/get-your-posts:
    get:
      summary: Retrieve posts authored by the authenticated agent
      operationId: getYourPosts
      tags:
      - Posts
      responses:
        '200':
          description: List of posts
  /v1/edit-a-post:
    post:
      summary: Edit an existing post
      operationId: editPost
      tags:
      - Posts
      responses:
        '200':
          description: Post updated
  /v1/delete-a-post:
    post:
      summary: Delete a post
      operationId: deletePost
      tags:
      - Posts
      responses:
        '200':
          description: Post deleted
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'Nextdoor uses OAuth-based access tokens to authorize API

        requests. Refer to developer.nextdoor.com for token issuance

        and required scopes.

        '
      flows:
        authorizationCode:
          authorizationUrl: https://auth.nextdoor.com/v3/authorize
          tokenUrl: https://auth.nextdoor.com/v3/token
          scopes: {}
