openapi: 3.1.0
info:
  title: Nextdoor Developer Advertising API
  description: 'Nextdoor''s developer platform exposes APIs for advertising

    (campaign and ad management, conversion tracking), content

    sharing and publishing (posts, events, FSF posts), and content

    discovery (search and trending). Endpoints below are derived

    from the public reference listing surfaced at developer.nextdoor.com.

    '
  version: 1.0.0
servers:
- url: https://developer.nextdoor.com
  description: Nextdoor Developer API base
security:
- oauth2: []
tags:
- name: Advertising
paths:
  /v1/campaign/create:
    post:
      summary: Create an advertising campaign
      operationId: createCampaign
      tags:
      - Advertising
      responses:
        '200':
          description: Campaign created
  /v1/campaign/get/{id}:
    get:
      summary: Get a campaign by ID
      operationId: getCampaign
      tags:
      - Advertising
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Campaign details
  /v1/campaign/update:
    post:
      summary: Update an existing campaign
      operationId: updateCampaign
      tags:
      - Advertising
      responses:
        '200':
          description: Campaign updated
  /v1/campaign/get/{id}/stats:
    get:
      summary: Get statistics for a campaign
      operationId: getCampaignStats
      tags:
      - Advertising
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Campaign stats
  /v1/ad/create:
    post:
      summary: Create an ad
      operationId: createAd
      tags:
      - Advertising
      responses:
        '200':
          description: Ad created
  /v1/ad/list:
    get:
      summary: List ads
      operationId: listAds
      tags:
      - Advertising
      responses:
        '200':
          description: A collection of ads
  /v1/ad/get/{id}/stats:
    get:
      summary: Get statistics for an ad
      operationId: getAdStats
      tags:
      - Advertising
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ad statistics
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'Nextdoor uses OAuth-based access tokens to authorize API

        requests. Refer to developer.nextdoor.com for token issuance

        and required scopes.

        '
      flows:
        authorizationCode:
          authorizationUrl: https://auth.nextdoor.com/v3/authorize
          tokenUrl: https://auth.nextdoor.com/v3/token
          scopes: {}
